/*
    https://habr.com/ru/post/189118/
    https://habr.com/ru/post/189252/
 */
.sherlock-show-queries-contentarea > ul {
    list-style: none;
}

/* Styles for subtitles - OLX, Besplatka and SkyLots */
.sherlock-show-queries-contentarea > ul > li {
    font-size: medium;
    font-weight: bold;
    margin-top: 15px;
}

.sherlock-show-queries-contentarea > ul > li > ul {
    list-style: square;
}

/* Styles for search-query URLs */
.sherlock-show-queries-contentarea > ul > li > ul > li {
    font-size: small;
    font-weight: normal;
}

/* Initial style for constructed queries block */
#sherlock_show_queries_contentarea {
    display: block;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
