<div id="sherlock_show_queries_contentarea" class="sherlock-show-queries-contentarea">
    <ul>
        {% for key, value in constructed_urls_collection %}
        <li>{{ key }}
            <ul>
                {% for v in value %}
                <li>{{ v }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

